import * as Style from './styles'

const {{pascalCase name}} = () => (
  <Style.{{pascalCase name}}>
    <h1>{{pascalCase name}} Template</h1>
  </Style.{{pascalCase name}}>
)

export default {{pascalCase name}}
